@*
@{
    ViewData["Title"] = "ADDVendor";
}


            <!-- Page content wrapper-->
      
               
                <div class="container-fluid">
                    <div class="">
                        <div class="form-add-vendor ">
                            <form asp-action="Vendor">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="VendorNo" class="control-label"></label>
                                            <input asp-for="VendorNo" class="form-control" />
                                            <span asp-validation-for="VendorNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="VendorName" class="control-label"></label>
                                            <input asp-for="VendorName" class="form-control" />
                                            <span asp-validation-for="VendorName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="ResidencyStatus" class="control-label"></label>
                                            <input asp-for="ResidencyStatus" class="form-control" />
                                            <span asp-validation-for="ResidencyStatus" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="PORemarks" class="control-label"></label>
                                            <input asp-for="PORemarks" class="form-control" />
                                            <span asp-validation-for="PORemarks" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                         <div class="form-group">
                                            <label asp-for="Currency" class="control-label"></label>
                                            <input asp-for="Currency" class="form-control" />
                                            <span asp-validation-for="Currency" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                            <div class="form-group">
                                        <label asp-for="Password" class="control-label"></label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group mt-4">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                        <a type="button" asp-action="Vendor" class="btn btn-danger">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </form>
                        </div>
                    </div>
                 </div>
       


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@