@model ServiceDesk_WebApp.Models.Vendor

@{
    ViewData["Title"] = "ADDVendor";
}

 <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white ml-0" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom border-warning text-white"><i class="fa-solid fa-user-large rotate_335"></i> SD-Admin</div>
                <div class="list-group list-group-flush">
                    <a asp-controller="Admin" asp-action="AdminDashBoard" class="list-group-item list-group-item-action list-group-item-light p-3"><i class="fa-solid fa-gauge"></i> Dashboard</a>
                    <a asp-controller="Admin" asp-action="Vendor" class="list-group-item list-group-item-action list-group-item-light p-3"><i class="fa-solid fa-user-large"></i> Add Vendor</a>
                    <a href="#!" class="list-group-item list-group-item-action list-group-item-light p-3"><i class="fa-solid fa-rectangle-list"></i> View Request</a>
                   <a asp-controller="Account" asp-action="Logout" class="list-group-item list-group-item-action list-group-item-light p-3" onclick="if (confirm('Are you sure to logout?')){return true;}else{event.stopPropagation(); event.preventDefault();};" ><i class="fa-solid fa-user-large"></i>LogOut</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light  shadow-md">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle"><i class="fa-solid fa-sliders"></i> </button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <!-- <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>-->
                                <li class="nav-item dropdown">
                                    <a class="nav-link" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin <span class="user"><i class="fa-solid fa-user-large"></i></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="">
                        <div class="form-add-vendor ">
                            <form asp-action="Vendor">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="VendorNo" class="control-label"></label>
                                            <input asp-for="VendorNo" class="form-control" />
                                            <span asp-validation-for="VendorNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="VendorName" class="control-label"></label>
                                            <input asp-for="VendorName" class="form-control" />
                                            <span asp-validation-for="VendorName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="ResidencyStatus" class="control-label"></label>
                                            <input asp-for="ResidencyStatus" class="form-control" />
                                            <span asp-validation-for="ResidencyStatus" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="PORemarks" class="control-label"></label>
                                            <input asp-for="PORemarks" class="form-control" />
                                            <span asp-validation-for="PORemarks" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                         <div class="form-group">
                                            <label asp-for="Currency" class="control-label"></label>
                                            <input asp-for="Currency" class="form-control" />
                                            <span asp-validation-for="Currency" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                            <div class="form-group">
                                        <label asp-for="Password" class="control-label"></label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group mt-4">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                        <a type="button" asp-action="Vendor" class="btn btn-danger">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </form>
                        </div>
                    </div>
                 </div>
            </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}