@{
	ViewData["Title"] = "Vendors";
}

<div class="page-content">

	<h1>Welcome to  Admin Dashboard</h1>
	</div>


@section Scripts{
<script src="~/js/AddVendor.js" asp-append-version="true"></script>

}


