@{
	ViewData["Title"] = "Vendors";
}

<div class="dashboard-tittle">
	<div class="container-fluid">
		<div class="row pt-4">
			<div class="col-md-6">
				<div class="page-title">
					<h3><strong>Dashboard</strong></h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mb-3">
	<!-- Icon Cards-->
	<div class="row">
		<div class="col-xl-4 col-sm-6 mb-3">
			<div class="card text-black  o-hidden h-100">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="fa fa-fw fa-list"></i>
					</div>
					<div class="mr-5">Total Vendors </div>
					<div id="VendorCount" style="color:#26c6da"></div>
				</div>
				<a class="card-footer text-white cust_blue"asp-action="Vendor" asp-controller="Admin">
					<span class="float-left">View Details</span>
					<span class="float-right">
						<i class="fa fa-chevron-right text-white"></i>
					</span>
				</a>
			</div>
		</div>
		<div class="col-xl-4 col-sm-6 mb-3">
			<div class="card text-black  o-hidden h-100">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="fa fa-check" aria-hidden="true"></i>
					</div>
					<div class="mr-5">Total Requests!</div>
					<div id="requestCount" style="color:#ffba57"></div>
				</div>
				<a class="card-footer text-white cust_gold" asp-action="AdminViewRequest" asp-controller="Admin" >
					<span class="float-left">View Details</span>
					<span class="float-right">
						<i class="fa fa-chevron-right text-white"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row card_table">
		<div class="col-lg-6 col-md-6">
			<div class="card table_card">
				<h5 class="card-header fs-17">Total Vendors Created</h5>
				<div class="card-body">
					<table class="table table-bordered">
						<thead class="bg-lit-gray">
							<tr>
								<th>Today</th>
								<th>Yesterday</th>
								<th>Last 7 Days</th>
								<th>Last 30 Days</th>
								<th>Last 90 Days</th>
							</tr>
						</thead>
						<tbody>
							<tr id="tableBody"></tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6">
			<div class="card table_card">
				<h5 class="card-header  fs-17">Number of Requests Recieved</h5>
				<div class="card-body">
					<table class="table table-bordered">
						<thead class="bg-lit-gray">
							<tr>
								<th>Today</th>
								<th>Yesterday</th>
								<th>Last 7 Days</th>
								<th>Last 30 Days</th>
								<th>Last 90 Days</th>
							</tr>
						</thead>
						<tbody>
							<tr id="tableBody1"></tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts{
<script src="~/js/DashBoard.js" asp-append-version="true"></script>

}