@{
	Layout = null;
}
<html>
<head>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<style>
		.divider:after,
		.divider:before {
			content: "";
			flex: 1;
			height: 1px;
			background: #eee;
		}

		.h-custom {
			height: calc(100% - 73px);
		}

		.h-custom {
			height: 100%;
		}

	</style>

</head>
<body>
	   <!--Loader-->
    <div class="preloader-main-div" id="preloader">
        <div class="preloader-center-div">
            <div class="rotor"></div>
            <h1>
                <img src="~/images/pre-loader.gif" class="img-fluid" width="100" alt="Alternate Text" />
            </h1>

        </div>
    </div>
	<section class="vh-100">
		<div class="container-fluid h-custom">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-9 col-lg-6 col-xl-5">
					<img src="/images/login.webp"
						 class="img-fluid" alt="Sample image">
				</div>
				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
					<form id="loginForm" method="post">
						<!-- Email input -->
						<div class="form-outline mb-4">
							<label class="form-label" for="form3Example3">Email address</label>
							<input type="email" id="Email" name="Email" class="form-control form-control-lg"
								   placeholder="Enter a valid email address" />
							<div class="invalid-input-feedback mt-1 ml-4"></div>
						</div>
						<!-- Password input -->
						<div class="form-outline mb-3">
							<label class="form-label" for="form3Example4">Password</label>
							<input type="password" id="Password" name="Password" class="form-control form-control-lg"
								   placeholder="Enter password" />
							<div class="invalid-input-feedback mt-1 ml-4"></div>
						</div>
						<div class="text-center text-lg-start mt-4 pt-2">
							<button type="submit" class="btn btn-primary btn-lg"
									style="padding-left: 2.5rem; padding-right: 2.5rem;">
								Login
							</button>
						</div>
					</form>
					<div class="d-flex justify-content-between align-items-center">
						<!-- Checkbox -->
						@*<div class="form-check mb-0">
							<input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
							<label class="form-check-label" for="form2Example3">
							Remember me
							</label>
							</div>*@
						<a asp-controller="Account" asp-action="ForgetPassWord">Forgot password?</a>

					</div>
				</div>
			</div>
		</div>
	</section>
	<div id="sporta-modal-dialog-div"></div>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/common.js" asp-append-version="true"></script>
	<script src="~/js/Login.js" asp-append-version="true"></script>


</body>


</html>









