@{
    ViewBag.Title = "404";
    Layout = null;
}
<html>
<head>

	<title>Page Not found</title>
    <link rel="icon" type="image/x-icon" href="login.ico">
	<link rel="icon" type="image/x-icon" href="login.ico">
    </head>
    <body>
        <h1>404 - Page not found</h1>

<p>Oops, better check that URL.</p>
    </body>
    </html>
